.mainpage {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mainpage .div {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(242.91, 243.31, 223.04) 40.5%,
    rgb(192.28, 224.19, 167.21) 100%
  );
  width: 1448px;
  height: 1355px;
  position: relative;
}

.mainpage .footer {
  position: absolute;
  width: 1452px;
  height: 205px;
  top: 1150px;
  left: 0;
  background-color: transparent;
}

.mainpage .overlap-group {
  position: relative;
  width: 1448px;
  height: 205px;
  background-color: #b2c1a6;
}

.mainpage .line {
  position: absolute;
  width: 1448px;
  height: 1px;
  top: 20px;
  left: 0;
  object-fit: cover;
}

.mainpage .email {
  position: absolute;
  width: 529px;
  height: 80px;
  top: 85px;
  left: 192px;
  font-family: "Crimson Text", Helvetica;
  font-weight: 400;
  color: #4e4e4e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .text-wrapper {
  position: absolute;
  width: 259px;
  height: 40px;
  top: 45px;
  left: 192px;
  font-family: "Crimson Text", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #4e4e4e;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .p {
  position: absolute;
  width: 300px;
  top: 57px;
  left: 354px;
  font-family: "Crimson Text", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.mainpage .img {
  position: absolute;
  width: 317px;
  height: 184px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mainpage .img1 {
  position: absolute;
  width: 317px;
  height: 184px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mainpage .img2 {
  position: absolute;
  width: 317px;
  height: 184px;
  top: 80px;
  left: 0;
  object-fit: cover;
}

.mainpage .dog-recommendation {
  position: absolute;
  width: 1200px;
  height: 334px;
  top: 300px;
  left: 157px;
}

.mainpage .joke-recommendation {
  position: absolute;
  width: 1200px;
  height: 184px;
  top: 700px;
  left: 157px;
}

.mainpage .span {
  font-family: "Crimson Text", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
}

.mainpage .header {
  position: absolute;
  width: 1448px;
  height: 154px;
  top: 0;
  left: 0;
}

.mainpage .rectangle-button {
  position: absolute;
  width: 300px;
  height: 120px;
  top: 50px;
  left: 700px;
}

.joke-container {
  display: flex;
  align-items: center;
  margin-right: 20px; /* 필요에 따라 조정 */
}

#joke-link {
  margin-right: 10px; /* 필요에 따라 조정 */
  cursor: pointer;
}

#joke-content-container {
  margin-left: 700px; /* 필요에 따라 조정 */
  width: 500px; /* 부모 요소에 맞추어 너비를 설정 */
  height: 160px;
  line-height: 1.5; /* 줄 간격을 조정 */
  border-radius: 15px;
  margin-top: 10px;
  border: 4px dotted black;
  background-color: white;
}

#joke-content-container p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  word-wrap: break-word; /* 텍스트가 박스를 벗어나지 않도록 함 */
  white-space: normal; /* 텍스트를 여러 줄로 표시 */
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.dog-container {
  display: flex;
  align-items: center;
  margin-right: 20px; /* 필요에 따라 조정 */
}

#dog-link {
  top: 145px;
  margin-right: 10px; /* 필요에 따라 조정 */
  cursor: pointer;
}

#dog-content-container {
  margin-left: 700px; /* 필요에 따라 조정 */
  width: 478px; /* 부모 요소에 맞추어 너비를 설정 */
  height: 334px;
  margin-top: 10px;
  border-radius: 15px;
  border: 4px dotted black;
  background-color: white;
}

#dog-content-container img {
  width: 470px;
  height: 326px;
  border-radius: 10px;
}
