.test-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.test-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1448px;
  height: 3355px;
  position: relative;
}

.test-page .footer {
  position: absolute;
  width: 1452px;
  height: 205px;
  top: 3150px;
  left: 0;
  background-color: transparent;
}

.test-page .overlap-group {
  position: relative;
  width: 1448px;
  height: 205px;
  background-color: #b2c1a6;
}

.test-page .line {
  position: absolute;
  width: 1448px;
  height: 1px;
  top: 20px;
  left: 0;
  object-fit: cover;
}

.test-page .email {
  position: absolute;
  width: 529px;
  height: 80px;
  top: 85px;
  left: 192px;
  font-family: "Crimson Text", Helvetica;
  font-weight: 400;
  color: #4e4e4e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.test-page .text-wrapper {
  position: absolute;
  width: 259px;
  height: 40px;
  top: 45px;
  left: 192px;
  font-family: "Crimson Text", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #4e4e4e;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.test-page .frame {
  position: absolute;
  width: 1400px;
  height: 1150px;
  top: 1262px;
  left: 24px;
  background-color: #ffffff;
}

.test-page .frame-2 {
  position: relative;
  width: 1402px;
  height: 1152px;
  left: -1px;
}

.test-page .overlap-group-wrapper {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .div-wrapper {
  position: relative;
  width: 282px;
  height: 52px;
  top: -1px;
  left: -1px;
  background-color: #e4e4e4;
  border-radius: 4px 0px 0px 0px;
  border: 1px solid;
  border-color: #818181;
}

.test-page .text-wrapper-2 {
  position: absolute;
  width: 260px;
  height: 18px;
  top: 7px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.test-page .overlap-wrapper {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .overlap {
  position: relative;
  width: 282px;
  height: 52px;
  top: -1px;
  left: -1px;
  background-color: #e4e4e4;
  border: 1px solid;
  border-color: #818181;
}

.test-page .text-wrapper-3 {
  position: absolute;
  width: 260px;
  height: 36px;
  top: 6px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.test-page .frame-3 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .it-didn-t-bother-me {
  position: absolute;
  width: 260px;
  height: 50px;
  top: -1px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.test-page .frame-4 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-5 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .overlap-2 {
  position: relative;
  width: 282px;
  height: 52px;
  top: -1px;
  left: -1px;
  background-color: #e4e4e4;
  border-radius: 0px 4px 0px 0px;
  border: 1px solid;
  border-color: #818181;
}

.test-page .frame-6 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 51px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .div-2 {
  position: relative;
  width: 282px;
  height: 52px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #818181;
}

.test-page .text-wrapper-4 {
  position: absolute;
  width: 260px;
  height: 18px;
  top: 7px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.test-page .rectangle-wrapper {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 51px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-7 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 51px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-8 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 51px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-9 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 51px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-10 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 101px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-11 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 101px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-12 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 101px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-13 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 101px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-14 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 101px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-15 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 151px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-16 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 151px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-17 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 151px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-18 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 151px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-19 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 151px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-20 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 201px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-21 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 201px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-22 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 201px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-23 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 201px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-24 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 201px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-25 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 251px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-26 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 251px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-27 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 251px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-28 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 251px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-29 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 251px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-30 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 301px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-31 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 301px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-32 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 301px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-33 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 301px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-34 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 301px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-35 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 351px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-36 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 351px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-37 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 351px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-38 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 351px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-39 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 351px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-40 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 401px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-41 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 401px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-42 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 401px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-43 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 401px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-44 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 401px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-45 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 451px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-46 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 451px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-47 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 451px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-48 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 451px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-49 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 451px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-50 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 501px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-51 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 501px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-52 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 501px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-53 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 501px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-54 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 501px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-55 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 551px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-56 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 551px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-57 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 551px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-58 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 551px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-59 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 551px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-60 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 601px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-61 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 601px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-62 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 601px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-63 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 601px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-64 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 601px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-65 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 651px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-66 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 651px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-67 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 651px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-68 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 651px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-69 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 651px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-70 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 701px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-71 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 701px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-72 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 701px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-73 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 701px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-74 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 701px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-75 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 751px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-76 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 751px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-77 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 751px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-78 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 751px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-79 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 751px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-80 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 801px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-81 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 801px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-82 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 801px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-83 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 801px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-84 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 801px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-85 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 851px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-86 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 851px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-87 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 851px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-88 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 851px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-89 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 851px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-90 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 901px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-91 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 901px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-92 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 901px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-93 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 901px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-94 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 901px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-95 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 951px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-96 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 951px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-97 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 951px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-98 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 951px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-99 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 951px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-100 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1001px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-101 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1001px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-102 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1001px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-103 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1001px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-104 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1001px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-105 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1051px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .frame-106 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1051px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-107 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1051px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-108 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1051px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-109 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1051px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .frame-110 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1101px;
  left: 1px;
  background-color: #ffffff;
}

.test-page .overlap-3 {
  position: relative;
  width: 282px;
  height: 52px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 4px;
  border: 1px solid;
  border-color: #818181;
}

.test-page .frame-111 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1101px;
  left: 281px;
  background-color: #ffffff;
}

.test-page .frame-112 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1101px;
  left: 561px;
  background-color: #ffffff;
}

.test-page .frame-113 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1101px;
  left: 841px;
  background-color: #ffffff;
}

.test-page .frame-114 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 1101px;
  left: 1121px;
  background-color: #ffffff;
}

.test-page .rectangle {
  border-radius: 0px 0px 4px 0px;
  position: relative;
  width: 282px;
  height: 52px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #818181;
}

.test-page .please-read-each {
  position: absolute;
  width: 1317px;
  height: 216px;
  top: 967px;
  left: 77px;
  font-family: "Crimson Text", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 35px;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.test-page .overlap-4 {
  position: absolute;
  width: 1450px;
  height: 670px;
  top: 0;
  left: 0;
}

.test-page .beck-s-anxiety {
  position: absolute;
  width: 1449px;
  height: 524px;
  top: 146px;
  left: 1px;
}

.test-page .beck-s-anxiety-wrapper {
  position: relative;
  width: 1447px;
  height: 524px;
  background-color: #d9d9d9;
}

.test-page .p {
  position: absolute;
  width: 746px;
  top: 175px;
  left: 191px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.test-page .span {
  font-weight: 900;
}

.test-page .text-wrapper-5 {
  font-size: 24px;
}

.test-page .header {
  position: absolute;
  width: 1448px;
  height: 154px;
  top: 0;
  left: 0;
}

.test-page .finish-button {
  position: absolute;
  width: 198px;
  height: 100px;
  top: 2731px;
  left: 626px;
  cursor: pointer;
}

.test-page .overlap-5 {
  position: relative;
  width: 196px;
  height: 100px;
  background-image: url(./img/rectangle-2-1.svg);
  background-size: 100% 100%;
}

.test-page .text-wrapper-6 {
  position: absolute;
  width: 151px;
  height: 36px;
  top: 32px;
  left: 22px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
